@font-face {
    font-family: 'Code Next';
    src: url('../Project2/fonts/CodeNext-ExtraBoldItalic.woff') format('woff2'),
        url('../Project2/fonts/CodeNext-ExtraBoldItalic.woff2') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Code Next';
    src: url('../Project2/fonts/CodeNext-ExtraBold.woff') format('woff2'),
        url('../Project2/fonts/CodeNext-ExtraBold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  * {
      padding: 0;
      margin: 0;
      outline: 0;

    }
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

    }

    a{
      color:#fff;
      text-decoration: none;
    }
    a.link1{
      color:rgb(0, 0, 0);
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    a.link1:hover {
      border-bottom: 1px solid #01afff;
      border-top: 1px solid #01afff;
    }
    a.link1:visited {
      color: #2d00f8;
    }
    a.link1:active {
      color: #497DDD; 
      border-bottom: 1px dashed #01afff;
      border-top: 1px dashed #01afff;
    }
    .header{
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background-color: #689CD2;
      color: #fff;
      font-family: Code Next;
    }
    .header__section{
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
    .header__item{
      padding: 10px 15px;
      font-size: 20px;
      margin-right: 50px;
    }
    ul {
      list-style: none;
    }
    li {
      margin: 0.25rem 0;
    }
    
    a.header__item {
      text-decoration: none;
      color: inherit;
    }
    
    .header__item {
      display: inline-block;
      padding-bottom: 0.25rem; /* defines the space between text and underline */
      position: relative;
    }
    
    .header__item::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background-color: rgb(255, 230, 0);
      transition: width 0.25s ease-out;
    }
    .header__item:hover::before {
      width: 100%;
    }
    .headerlogo{
      font-weight: bold;
    }
    .headerButton{
      cursor: pointer;
    }
  
    #region-key-info {
      padding: 4px 8px;
      margin-bottom: 12px;
      background-color: #f0f0f0;
      border-radius: 12px;
      display: flex;
      justify-content: space-around;
      padding: 10px;
      display: grid;
      padding: 2rem;
      gap: 1rem;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      font: 500 100%/1.5 system-ui;
    }
    #key-info i {
      margin-left: 18px;
      margin-right: 14px;
    }
    #pull-left{
      display: grid;
      padding: 2rem;
      grid-template-columns: 300px 1fr;
      gap: 1rem;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      font: 500 100%/1.5 system-ui;
    }
    .table{
      justify-content: space-around;
      padding: 10px;
      display: grid;
      padding: 2rem;
      gap: 1rem;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }
    .text {
      text-align: justify;
      padding: 10px;
      display: grid;
      padding: 2rem;
      max-width: 1500px;
      margin: 0 auto;
      font: 500 100%/1.5 system-ui;
    }

  